<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">Navbar</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item active" style="cursor: pointer;">
          <a *ngIf="(this.auth.userData | async) as user" class="nav-link"(click)="logout()">{{ user.displayName || user.email }}<span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item active" style="cursor: pointer;">
          <a *ngIf="this.auth.userData | async" class="nav-link"(click)="logout()">Logout<span class="sr-only">(current)</span></a>
        </li>
      </ul>
    </div>
  </nav>
